.about-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 65px;
}
.about-wrapper::after {
  content: "";
  display: block;
  width: 612px;
  height: 518px;
  background-image: url("../img/icons/shape-3.svg");
  background-repeat: no-repeat;
  background-position: right top;
  z-index: -1;
  position: absolute;
  right: -180px;
  top: 200px;
}
.about-cards {
  width: 488px;
  display: flex;
  justify-content: space-between;
}
.cards-2-column {
  padding-top: 150px;
}
.about-content {
  width: 555px;
  height: 200px;
  color: #0d3e60;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.6;
  margin-top: 100px;
}
.about-content p {
  margin-bottom: 36px;
}
.about-toggle-wrapper {
  display: flex;
  margin-bottom: 90px;
}
.about__toggle {
  width: 165px;
  height: 46px;
  border-radius: 20px;
  background-color: #fff9df;
  color: #2e435e;
  font-size: 14px;
  font-weight: 400;
  line-height: 3.2;
  cursor: pointer;
  transition: 0.2s ease-in;
  text-decoration: none;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
}
.about__toggle:hover {
  background-color: #eb5238;
  color: #ffffff;
}
.about__title {
  color: #eb5238;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 65px;
}
