.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 210px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 6px 9px 35px rgba(25, 40, 66, 0.1);
  background-color: #ffffff;
  color: #2e435e;
  transition: all 0.4s ease-in-out;
  padding: 65px 30px 35px;
  margin-bottom: 60px;
}
.card:hover {
  box-shadow: 4px 7px 32px rgba(235, 90, 56, 0.52);
  background-color: #eb5238;
  color: #ffffff;
}
.card:hover .card-circle {
  background-color: rgba(255, 255, 255, 0.2);
}
.card:hover .card-circle-inner {
  background-color: #ffffff;
}
.card-circle .svg-path {
  fill: #ffffff;
  transition: all 0.4s ease-in-out;
}
.card:hover .card-circle .svg-path {
  fill: #0d3e60;
}
.card:hover .icon-read-more {
  fill: #ffffff;
}
.card__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 35px;
}
.card__content {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}
.card__read-more {
  display: flex;
  position: relative;
  height: 20px;
  margin-top: auto;
}
.card__read-more-link {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.6s ease-in-out;
  text-decoration: none;
}
.card:hover .card__read-more-link {
  left: 130px;
}
.card__read-more-text {
  opacity: 0;
  display: inline-block;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  text-align: right;
  padding-right: 15px;
}
.card:hover .card__read-more-text {
  opacity: 1;
}
.card-circle {
  display: block;
  width: 76px;
  height: 76px;
  border-radius: 50px;
  background-color: rgba(235, 82, 56, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-in-out;
}
.card-circle-inner {
  display: flex;
  width: 62px;
  height: 62px;
  border-radius: 50px;
  background-color: #eb5238;
  position: absolute;
  left: 7px;
  top: 7px;
  z-index: 2;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
.icon-read-more {
  fill: #fff9df;
  transition: all 0.4s ease-in-out;
}
