.header {
  width: 100%;
  background-color: #fffef9;
  background-image: url(../img/pictures/landscape.png),
    linear-gradient(to top, #ffffff 0%, #fff9df 100%);
  background-repeat: no-repeat;
  background-position: center bottom, top left;
  background-size: 100% auto;
  position: relative;
  padding-top: 30px;
  padding-bottom: 150px;
}
@media (min-width: 700px) {
  .header {
    padding-bottom: 220px;
  }
}
@media (min-width: 1140px) {
  .header {
    padding-top: 90px;
    padding-bottom: 410px;
  }
}
.cloud-1 {
  position: absolute;
  top: 300px;
  left: -15px;
  background-image: url("../img/icons/cloud_1.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 118px;
  height: 77px;
}
.cloud-2 {
  position: absolute;
  top: 263px;
  right: -21px;
  background-image: url("../img/icons/cloud_2.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 86px;
  height: 49px;
}
.header-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
  padding-top: 60px;
}
@media (min-width: 1140px) {
  .header-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 25px;
    position: relative;
    padding-top: 0px;
    margin-bottom: 23px;
  }
}
.tagline {
  color: #0d3e60;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  width: 276px;
  height: 44px;
  box-shadow: 4px 7px 7px rgba(41, 36, 17, 0.06);
  background-color: #ffffff;
  padding: 13px 37px 0px 37px;
  border-radius: 24px;
  position: absolute;
  top: -75px;
  left: -45px;
}
.tagline:after {
  content: "";
  display: block;
  position: absolute;
  left: 57px;
  bottom: 0;
  border: 8px solid transparent;
  border-top: 10px solid #ffffff;
  transform: translateY(100%);
}
.tagline span {
  font-weight: 700;
}
.logo {
  margin-bottom: 25px;
  position: relative;
}
@media (min-width: 1140px) {
  .logo {
    margin-bottom: 0;
  }
}
.promises-counter__icon {
  margin-bottom: 8px;
  text-align: center;
}
@media (min-width: 1140px) {
  .promises-counter__icon {
    text-align: left;
  }
}
.promises-counter__number {
  color: #0d3e60;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 4px;
}
.promises-counter__desc {
  color: #0d3e60;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
}
.header-content {
  text-align: center;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}
.header__mail {
  margin-bottom: 30px;
}
.header__caption {
  color: #eb5238;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 20px;
}
.header__title {
  color: #0d3e60;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 35px;
}
@media (min-width: 1140px) {
  .header__title {
    font-size: 38px;
  }
}
.header-names {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin: 0 auto 60px auto;
}
@media (min-width: 1140px) {
  .header-names {
    flex-direction: row;
  }
}
.header-names-left {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
}
@media (min-width: 1140px) {
  .header-names-left {
    text-align: right;
    width: 50%;
    padding-right: 80px;
    padding-bottom: 0;
  }
}
.header-names-right {
  text-align: center;
  padding-top: 50px;
}
@media (min-width: 1140px) {
  .header-names-right {
    text-align: left;
    width: 50%;
    padding-left: 80px;
    padding-top: 10px;
  }
}
.header-names__name {
  color: #eb5238;
  font-size: 22px;
  font-weight: 700;
  line-height: 2;
}
.header-names__email {
  color: #0d3e60;
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
}
.header-names-button {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ed543a;
  border-radius: 60px;
  background-image: url("../img/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px auto;
}
@media (min-width: 1140px) {
  .header-names-button {
    width: 91px;
    height: 91px;
    top: 0;
    transform: translate(-50%, 0%);
    display: block;
    background-size: 54px auto;
  }
}
.header-names-button::after {
  content: "+";
  display: block;
  width: 25px;
  height: 25px;
  background-color: #ffcc36;
  border-radius: 20px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 100%);
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
  text-align: center;
}
@media (min-width: 1140px) {
  .header-names-button::after {
    width: 37px;
    height: 37px;
    font-size: 30px;
    bottom: 15px;
    line-height: 1.23;
  }
}
.header-scroll__desc {
  color: #0d3e60;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  margin-bottom: 16px;
}
.header-scroll-bg {
  max-width: 750px;
  height: 122px;
  background-color: #fff9df;
  position: relative;
  text-align: center;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 800px) {
  .header-scroll-bg {
    margin-left: auto;
    margin-right: auto;
  }
}
.header-scroll-bg::before {
  content: "";
  width: 73px;
  height: 174px;
  display: block;
  position: absolute;
  left: -23px;
  top: -28px;
  background-image: url("../img/icons/left_scroll.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.header-scroll-bg::after {
  content: "";
  width: 73px;
  height: 174px;
  display: block;
  position: absolute;
  right: -23px;
  top: -28px;
  background-image: url("../img/icons/right_scroll.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.header-scroll-bg__title {
  color: #8d8b80;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}
.header-circle {
  display: block;
  width: 81px;
  height: 81px;
  border-radius: 50px;
  background-color: rgba(235, 82, 56, 0.2);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%, 50%);
}
@media (min-width: 700px) {
  .header-circle {
    transform: translate(-50%, 20%);
  }
}
@media (min-width: 1140px) {
  .header-circle {
    transform: translate(-50%, 0);
  }
}
.header-circle__inner {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background-color: #eb5238;
  background-image: url("../img/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 13px;
  top: 13px;
  z-index: 2;
}
.cloud-1,
.cloud-2 {
  display: none;
}
