.header {
  width: 100%;
  background-color: #fffef9;
  background-image: url(../img/pictures/landscape.png),
    linear-gradient(to top, #ffffff 0%, #fff9df 100%);
  background-repeat: no-repeat;
  background-position: center bottom, top left;
  background-size: 100% auto;
  padding-top: 90px;
  padding-bottom: 410px;
}
.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
}
.promises-counter__icon {
  margin-bottom: 8px;
}
.promises-counter__number {
  color: #0d3e60;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 4px;
}
.promises-counter__desc {
  color: #0d3e60;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
}
.header-content {
  text-align: center;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}
.header__mail {
  margin-bottom: 30px;
}
.header__caption {
  color: #eb5238;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 20px;
}
.header__title {
  color: #0d3e60;
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 35px;
}
.header-names {
  display: flex;
  justify-content: center;
  margin: 0 auto 60px auto;
}
.header-names-left {
  text-align: right;
}
.header-names-right {
  text-align: left;
}
.header-names__name {
  color: #eb5238;
  font-size: 22px;
  font-weight: 700;
  line-height: 2;
}
.header-names__email {
  color: #0d3e60;
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
}
.header-names-button {
  width: 91px;
  height: 91px;
  background-color: #ed543a;
  border-radius: 60px;
  background-image: url("../img/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-left: 37px;
  margin-right: 37px;
}
.header-names-button::after {
  content: "+";
  display: block;
  width: 37px;
  height: 37px;
  background-color: #ffcc36;
  border-radius: 20px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 100%);
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.3;
  text-align: center;
}
.header-scroll__desc {
  color: #0d3e60;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  margin-bottom: 16px;
}
.header-scroll-bg {
  max-width: 750px;
  height: 122px;
  background-color: #fff9df;
  position: relative;
  text-align: center;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.header-scroll-bg::before {
  content: "";
  width: 57px;
  height: 174px;
  display: block;
  position: absolute;
  left: -23px;
  top: -28px;
  background-image: url("../img/icons/left_scroll.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.header-scroll-bg::after {
  content: "";
  width: 57px;
  height: 174px;
  display: block;
  position: absolute;
  right: -23px;
  top: -28px;
  background-image: url("../img/icons/right_scroll.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.header-scroll-bg__title {
  color: #8d8b80;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}
